@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rubik:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.container {
  width: 80%;
  margin: auto;
}
.bg-ground {
  background-image: url("../images/bg-ground.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.nav {
  height: 64px;
  width: 100%;
  background-color: #fff;

  position: relative;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 22px;
  /* color: #fff; */
  padding: 10px 10px 10px 10px;
}

/* .nav  .nav-header  .nav-title  img {
    height: 40px;
  } */

.nav .nav-btn {
  display: none;
}

.nav-title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.nav-title img {
  width: 60px;
  margin-right: -13px;
  /* border-radius: 50%; */
}
.nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #343a40;
}

.nav .nav-links a:hover {
  color: blue;
}

.nav #nav-check {
  display: none;
}

.bg-text {
  margin-top: 200px;
}

.bg-text .small {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #343a40;
}

.bg-text .big {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;
  padding-top: 10px;

  letter-spacing: 0.03em;

  color: #343a40;
}

.bg-text .text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 5px;

  letter-spacing: 0.01em;

  color: #343a40;
}

.bg-text .button-guruh {
  background: #3355ff;
  border-radius: 4px;
  width: 276px;
  cursor: pointer;
  border: none;
  height: 55px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 62px;
  /* line-height: 24px; */

  color: #ffffff;
}

.bg-text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #343a40;
}
.bg-text .odamlar {
  margin-left: 24px;
  width: 38px;
}

.bg-text .button-guruh {
  padding-top: 5px;
  transition: 0.5s all ease;
}

.bg-text .button-guruh:hover {
  word-spacing: 15px;
}

@media (max-width: 600px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 60px;
    padding: 13px;
    margin-right: 30px;
    cursor: pointer;
  }

  .nav .nav-btn label span {
    display: block;
    width: 25px;
    height: 11px;
    border-top: 3px solid #000;
  }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav .nav-links .centered {
    padding-top: 100px;
  }

  .nav .nav-links a {
    display: block;
    width: 100%;
    top: 100px;
    padding-top: 64px;
    font-size: 25px;
    text-align: center;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
    height: calc(100vh - 64px);
    /* overflow-y: auto; */
  }
}
